body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#tree {
  display: none;
}
label {
  /* width:80px;
  height: 40px;
  border-radius:20px;
  background: #ebebeb; */
  display: inline-block;
  /* text-indent: -9999em; */
  position: relative;
  transition: all ease 0.5s;
}
label:after{
  content:'';
  /* width: 30px;
  height:30px; */
  position: absolute;
  /* background: #ccc;
  border-radius:50%;
  left: 5px;
  top:5px; */
  transition:0.3s;
}
#tree:checked + label{
  /* background: #3498db; */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg); 
  -ms-transform:rotate(90deg);
}
#tree:checked + label:after{
  /* left: 45px; */
  /* background: #fff; */
  transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg); 
  -ms-transform:rotate(-90deg);
}